a {
	text-decoration: none;
	color: initial;
}

header {
	height: 10vh;
	box-shadow: 0px 1px 7px 0px #000000;
}

.header-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 7em;
}

.shopping-icon {
	cursor: pointer;
	border: none;
	padding: 0.5em 0.7em 0.3em;
}

.shopping-icon:hover {
	background-color: lightgray;
	border-radius: 15px;
}

.main-content {
	text-align: center;
}
